@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
}
